.DS_Store
.cache/
book/
bin/
build/
build.bk/
pdf/
reports/
.obsidian/*
!.obsidian/plugins/
.obsidian/plugins/*
!.obsidian/plugins/lacan-translation-helper/
!.obsidian/plugins/lacan-translation-helper/**
.obsidian/plugins/lacan-translation-helper/data.json
weread/
test/
develop_doc/
.claudian/
